* {
  border: 0px;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: navajowhite;
}

img {
  display: block;
}

h1 {
  width: 800px;
  margin: 0px auto;
  display: block;
}

.face {
  width: 100%;
  height: auto;
  display: block;
  z-index: 0;
}

.wrapper {
  width: 1080px;
  margin: auto;
}


/*floating effect for the bubbles*/

#playfield{
  width:1000px;
  height: :500px;
  margin: auto;
  z-index: 1;
  margin-bottom: -240px;
}

div.a {
width: 100px;
height:100px;
position: relative;
z-index: 1;

}
div.b {
width: 75px;
height:75px;
position: relative;
z-index: 2;
}

div.c {
width: 80px;
height:80px;
position: relative;
z-index: 3;
}
